@using Achmea.Core;
@model ProjectDetailViewModel
@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/Details.css" />
<div class="con-header">
    <div class="header-title">
        <h4>@Model.Title</h4>
    </div>
    <div class="header-desc">
        @Model.Description
        <br /><br />
        Client
        <br /><br />
        User @Model.UserId
        <br /><br />
        Created at @Model.CreationDate
    </div>
</div>
<div class="con-content">
    @foreach (SecurityRequirementProject req in Model.RequirementProject)
    {
    <div class="con-requirements">
        <div class="requirement-info">
            @Model.Requirements.Where(requirement => requirement.RequirementId == req.SecurityRequirementId).SingleOrDefault().Name
        </div>
        <div class="requirement-check">
            @req.Status
        </div>
        <div class="collapsible">
            @Model.Requirements.Where(requirement => requirement.RequirementId == req.SecurityRequirementId).SingleOrDefault().Description
            <br /><br />
            <form onsubmit="return false;">
                <label>Bewijsmateriaal uploaden: </label><br />
                <input type="file" name="evidence" /><br /><br />
                <input type="submit" value="Uploaden" />
            </form>
        </div>
    </div>
    }
</div>

<script>
    var coll = document.getElementsByClassName("requirement-info");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    } 
</script>