@using Achmea.Core;
@using AchmeaProject.Helpers;
@model ProjectDetailViewModel
@{
    ViewData["Title"] = "Details";
}

@{
    var comments = ViewBag.Comments as IEnumerable<AchmeaProject.Models.CommentViewModel>;
}

<link rel="stylesheet" href="~/css/Details.css" />
<div class="con-header">
    <div class="header-title">
        <h4>@Model.Title</h4>
        <br /><br />
        Aangemaakt op @Model.CreationDate
    </div>
    <div class="header-desc">
        @Model.Description
        <br /><br />
        Medewerkers:
        @foreach (User User in Model.Users)
        {
            <br /><br />
            @User.Firstname @User.Lastname
        }
    </div>
</div>
<div class="con-content">
    @foreach (SecurityRequirementProject req in Model.RequirementProject)
    {
        <div class="con-requirements">
            <div class="requirement-info">
                @Model.Requirements.Where(requirement => requirement.RequirementId == req.SecurityRequirementId).SingleOrDefault().Name
            </div>
            <div class="requirement-check">
                @{ Achmea.Core.Logic._Status status = req.Status;} @status.GetDisplayName()
            </div>
            <div class="collapsible">
                @Model.Requirements.Where(requirement => requirement.RequirementId == req.SecurityRequirementId).SingleOrDefault().Description
                <br /><br />
                <form onsubmit="return false;">
                    <label>Bewijsmateriaal uploaden: </label><br />
                    <input type="file" name="evidence" /><br /><br />
                    <input type="submit" value="Uploaden" />
                </form>
            </div>
        </div>
        @if (req.FileOfProof != null)
        {
            <label>Huidige bewijsstuk:  </label>
            <a href="@Model.Files.Where(file => file.Id == req.FileOfProof.FileLocation).SingleOrDefault().WebContentLink"> @req.FileOfProof.DocumentTitle</a>
        }
        <form asp-action="Upload" asp-controller="Evidence" enctype="multipart/form-data">
            <label>Bewijsmateriaal uploaden: </label><br />
            <input type="hidden" name="SecurityRequirementProjectID" value=@req.SecurityRequirementProjectId />
            <input required name="File" type="file" accept=".doc,.docx,.pdf,.png" /><br /><br />
            @Html.HiddenFor(model => Model.ProjectId)
            <input type="submit" value="Uploaden" />
        </form>
        <form>
            <div class="container">
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-2">Message</div>
                    <div class="col-4"><input type="text" id="@req.SecurityRequirementProjectId" /></div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <input onclick="ButtonClick(@req.SecurityRequirementProjectId, i)" type="submit" id="sendButton" value="Send Message" />
                    </div>
                </div>
                <div class="row">&nbsp;</div>
            </div>
        </form>
        <div class="row">
            <div class="col-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                @foreach (var comment in comments)
                {
                    if (comment.ProjectReqId == req.SecurityRequirementProjectId)
                    {
                        <ul id="existingcomments">@comment.UserName says @comment.Message</ul>
                    }
                }
                <ul id="@req.SecurityRequirementProjectId+messageOutput"></ul>
            </div>
        </div>
    }
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="~/lib/aspnet/signalr/dist/browser/signalr.js"></script>

<script>
    var coll = document.getElementsByClassName("requirement-info");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }

    var connection = new signalR.HubConnectionBuilder().withUrl("/hubs/comment").build();


    //Disable send button until connection is established
    document.getElementById("sendButton").disabled = true;

    connection.on("ReceiveMessage", function (user, message, id,) {
        var msg = message.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;");
        var encodedMsg = user + " says " + msg;
        var li = document.createElement("li");
        li.textContent = encodedMsg;
        document.getElementById(id + '+messageOutput').appendChild(li);


    });

    connection.start().then(function () {
        document.getElementById("sendButton").disabled = false;
    }).catch(function (err) {
        return console.error(err.toString());
    });

    function ButtonClick(id, messageID) {

        event.preventDefault();
        var requestData = {
            message: document.getElementById(id).value,
            id: id,
            messageID: messageID
        };

        $.ajax({
            type: "POST",
            url: "/Comment/SendMessage",
            dataType: "json",
            traditional: true,
            data: requestData,
        });
    };
</script>