@model AspectSelectViewModel;
@{
    <link rel="stylesheet" href="~/css/ESA-checklist.css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
}
<div class="container" style="margin-bottom:50px">

    <div>
        <h1>@Model.project.Title</h1>
    </div>

    <form method="post">
        <!-- title -->
        <h1>ESA aspect areas</h1>
        <p>@ViewBag.Error</p>

        @for (var i = 0; i < @Model.AspectAreas.Count; i++)
        {
            <!-- ESA aspect -->
            @*<div class="row">
                <input name="AreChecked" id='label-@(i+1)' type="checkbox" value="@Model.AspectAreas[i].ID" />
                <label data-toggle="tooltip" data-placement="left" title="@Model.AspectAreas[i].Description" for='label-@(i+1)'>
                    <h2>
                        @Model.AspectAreas[i].Title
                    </h2>
                <input name="AreChecked" id='label-@(i+1)' type="checkbox" value="@Model[i].ID" />
                <label for='label-@(i+1)'>
                    <p>
                        @Model[i].Title
                        <span>@Model[i].Description</span>
                    </p>
                </label>
            </div>*@

            <!-- Selection form -->
            <div class="form-row align-items-center">
                <div class="col-10">
                    <button type="button" class="collapsible">@Model.AspectAreas[i].Title</button>
                    <div class="content">
                        <p>@Model.AspectAreas[i].Description</p>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-check mb-2">
                        <input name="Ids" id='label-@(i+1)' type="checkbox" value="@Model.AspectAreas[i].ID" />
                    </div>
                </div>
            </div>

        }

        <br />
        <div class="row">
            <div class="col-9"></div>
            <div class="col-3">
                <button type="submit" id="submitButton" name="submitButton">submit</button>
            </div>
        </div>
    </form>
</div>



@*<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>*@

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>