@model ProjectCreateViewModel
@{
}


<h1>@Model.Project.Title</h1>
<p>@Model.Project.SearchTerm, @Model.Project.Status, @Model.Project.ProjectId, @Model.Project.CreationDate</p>

@for (int i = 0; i < Model.AspectAreas.Count; i++)
{
<p>
    @if (Model.AspectAreas[i].isSelected == true)
    {
    @Model.AspectAreas[i].Title
    @Model.AspectAreas[i].Description
    @Model.AspectAreas[i].ID
    }
</p>
}