@model ProjectCreateViewModel
@{ }


<body>
    <form asp-action="ConfirmDetails" asp-controller="Project">
            <div class="row d-flex justify-content-center">
                <h2>Overzicht geselecteerde opties</h2>
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
            <br />

            <div class="row">
                <div class="col-3"></div>
                <div class="col-3 d-flex justify-content-center">
                    <p>Naam van project</p>
                </div>
                <div class="col-3 d-flex justify-content-center">
                    <p> @Model.Project.Title</p>
                </div>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-3 d-flex justify-content-center">
                    <p>Beschrijving van het project</p>
                </div>
                <div class="col-3 d-flex justify-content-center">
                    <p> @Model.Project.Description</p>
                </div>
            </div>

            <br />

            <div class="row d-flex justify-content-center">
                <h4>Toegevoegde Personen</h4>
            </div>
            
            @for (int i = 0; i < Model.Users.Count; i++)
             {
                <div class="row d-flex justify-content-center">
                    <p>@Model.Users[i].Name</p>
                </div>
             }


            <div class="row d-flex justify-content-center">
               <h4>Geselecteerde aspectgebieden</h4>
            </div>

            @for (int i = 0; i < Model.AspectAreas.Count; i++)
            {
                if (Model.AspectAreas[i].isSelected == true)
                {
                <div class="row d-flex justify-content-center">
                <p>@Model.AspectAreas[i].Title</p>
                </div>
                }
            }

        <div class=" row d-flex justify-content-center">
        <h4>Geselecteerde BIV classificates</h4>
        </div>


            @for (int j = 0; j < Model.Bivs.Count; j++)
            {
                if (Model.Bivs[j].isSelected == true)
                {
                    <div class="row d-flex justify-content-center">
                    <p>@Model.Bivs[j].Name</p>
                    </div>
                }
            }

        <!-- Project information to pass through -->
        @if (Model.Project != null)
        {
            @Html.HiddenFor(model => Model.Project.Title)
            @Html.HiddenFor(model => Model.Project.CreationDate)
            @Html.HiddenFor(model => Model.Project.Description)
            @Html.HiddenFor(model => @Model.Project.UserID)
        }

        @if (Model.Members.Length > 0)
        {
            for (int i = 0; i < Model.Members.Length; i++)
            {
                @Html.HiddenFor(model => Model.Members[i])
            }
        }

        @if (Model.Users.Count > 0)
        {
            for (int i = 0; i < Model.Users.Count; i++)
            {
                @Html.HiddenFor(model => Model.Users[i].UserID)
                @Html.HiddenFor(model => Model.Users[i].Name)
            }
        }

        @if (Model.Bivs.Count > 0)
        {<!-- Biv information to pass through --> 
            for (int i = 0; i < @Model.Bivs.Count; i++)
            {
                @Html.HiddenFor(model => Model.Bivs[i].Id)
                @Html.HiddenFor(model => Model.Bivs[i].Name)
                @Html.HiddenFor(model => Model.Bivs[i].isSelected)
            }
        }

        @if (Model.AspectAreas.Count > 0)
        {<!-- AspectAreas information to pass through --> 
            for (int i = 0; i < @Model.AspectAreas.Count; i++)
            {
                @Html.HiddenFor(model => Model.AspectAreas[i].ID)
                @Html.HiddenFor(model => Model.AspectAreas[i].Title)
                @Html.HiddenFor(model => Model.AspectAreas[i].Description)
                @Html.HiddenFor(model => Model.AspectAreas[i].isSelected)
            }
        }

        <div class="row">
            <div class="col-5"></div>
            <div class="col-1">
                <a class="btn btn-primary" asp-action="Select" asp-controller="Biv">Terug</a>
            </div>
            <div class="4"></div>
            <div class="col-1">
                <button class="btn btn-primary" type="submit">Bevestig</button>
            </div>
        </div>
    </form>
</body>