@model ProjectCreateViewModel;

@{ ViewData["Title"] = "Home Page"; }

@{ var users = ViewBag.Users as List<UserSelectionViewModel>; }

<head>
    <link href="~/lib/Chosen/chosen.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/Chosen/chosen.jquery.js"></script>

    @using Microsoft.AspNetCore.Http
    @inject IHttpContextAccessor HttpContextAccessor
</head>

<body>
    <div id="content" style="margin-bottom:50px; margin-top:20vh;">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="control-label d-flex justify-content-center">
                    <h1>Project gegevens</h1>
                </div>
                <br/>
                <form asp-controller="Project" asp-action="Create">
                    <div>
                        <div class="form-group ">
                            <label asp-for="@Model.Project.Title" class="control-label d-flex justify-content-center">Titel</label>
                            <input asp-for="@Model.Project.Title" class="form-control d-flex justify-content-center" />
                            <span asp-validation-for="@Model.Project.Title" class="text-danger d-flex justify-content-center"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Project.Description" class="control-label d-flex justify-content-center">Beschrijving</label>
                            <input asp-for="@Model.Project.Description" class="form-control" />
                            <span asp-validation-for="@Model.Project.Description" class="text-danger d-flex justify-content-center"></span>
                        </div>
                        <div class="form-group" hidden="hidden">
                            <input asp-for="@Model.Project.CreationDate" class="form-control" />
                        </div>
                        <div class="form-group" hidden="hidden">
                            <input asp-for="@Model.Project.UserID" class="form-control" />
                        </div>
                        <div class="form-group" style="float: right">
                        </div>

                        <br />

                        <select asp-for="Members" data-placeholder="Selecteer uw projectleden" class="chosen-select" multiple>
                            @foreach (var user in users)
                            {
                                if (user.UserID == HttpContextAccessor.HttpContext.Session.GetInt32("UserID"))
                                {

                                }
                                else if (Model.Members.Contains(user.UserID))
                                {
                                    <option value="@user.UserID" selected="selected">@user.Name</option>
                                }
                                else
                                {
                                    <option value="@user.UserID">@user.Name</option>
                                }
                            }
                        </select>
                    </div>

                    <br />
                    <br />

                    @if (Model.Bivs.Count > 0)
                    {
                        <!-- Biv information to pass through -->
                        @for (int i = 0; i < @Model.Bivs.Count; i++)
                        {
                            @Html.HiddenFor(model => Model.Bivs[i].Id)
                            @Html.HiddenFor(model => Model.Bivs[i].Name)
                            @Html.HiddenFor(model => Model.Bivs[i].isSelected)
                        }
                    }

                    @if (Model.AspectAreas.Count > 0)
                    {
                        <!-- AspectAreas information to pass through -->
                        @for (int i = 0; i < @Model.AspectAreas.Count; i++)
                        {
                            @Html.HiddenFor(model => Model.AspectAreas[i].ID)
                            @Html.HiddenFor(model => Model.AspectAreas[i].Title)
                            @Html.HiddenFor(model => Model.AspectAreas[i].Description)
                            @Html.HiddenFor(model => Model.AspectAreas[i].isSelected)
                        }
                    }
                <div class="form-row">
                    <div class="col-12 d-flex justify-content-center">
                        <button style="background-color: #D29FA5;" type="submit" id="NextBtn" name="nextbtn" value="Volgende">Volgende</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    $(".chosen-select").chosen({
        width: "100%"
    });
</script>