@using Achmea.Core;
@model ProjectDetailViewModel
@using AchmeaProject.Helpers;

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_SecurityLayout.cshtml";
}

@{
    var comments = ViewBag.Comments as IEnumerable<AchmeaProject.Models.CommentViewModel>;
}

<link rel="stylesheet" href="~/css/Details.css" />
<div class="con-header">
    <div class="header-title">
        <h2>@Model.Title</h2>
        <h4>Aanmaak datum:</h4>
        <p>@Model.CreationDate</p>
    </div>
    <div class="header-desc">
        @*<h3>@Model.Employee</h3>*@
        <h4>Medewerkers:</h4>
        @foreach (User User in Model.Users)
        {
            <p>@User.Firstname</p>
        }
        <h4>Beschrijving:</h4>
        <p>@Model.Description</p>
    </div>
</div>
<br />
<div class="con-content">
    @foreach (SecurityRequirementProject req in Model.RequirementProject)
    {
        <div class="con-requirements">
            <div class="requirement-info">
                @Model.Requirements.Where(requirement => requirement.RequirementId == req.SecurityRequirementId).SingleOrDefault().Name
            </div>

            <div class="requirement-check">
                @*@req.Status*@
                @{ Achmea.Core.Logic._Status status = req.Status;} @status.GetDisplayName()
            </div>

            <div class="collapsible">
                @Model.Requirements.Where(requirement => requirement.RequirementId == req.SecurityRequirementId).SingleOrDefault().Description
                <br /><br />
                <div class="message-info">
                    Opmerkingen
                </div>
                <br />
                <div class="collapsible message-board">
                    <div class="row">
                        <div class="col-12">
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="message-container" id="message-container">
                            @foreach (var comment in comments)
                            {
                                if (comment.ProjectReqId == req.SecurityRequirementProjectId)
                                {
                                    <ul id="existingcomments">@comment.UserName: &nbsp;&nbsp; @comment.Message</ul>
                                }
                            }
                            <ul id="@req.SecurityRequirementProjectId+messageOutput"></ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <hr />
                        </div>
                    </div>
                    <form>
                        <div class="container">
                            <div class="row">&nbsp;</div>
                            <div class="row">
                                <div>Message:</div>
                                <div class="message-box"><input type="text" class="message-input" id="@req.SecurityRequirementProjectId" /></div>
                                <input onclick="ButtonClick(@req.SecurityRequirementProjectId, i)" type="submit" id="sendButton" value="Send Message" />
                            </div>
                        </div>
                    </form>

                    <div class="row">
                        <div class="col-12">
                            <hr />
                        </div>
                    </div>
                </div>
                <br /><br />
                @if (Model.RequirementProject.Where(requirementP => requirementP.SecurityRequirementId == req.SecurityRequirementId).SingleOrDefault().FileOfProofId != null)
                {
                    <div class="download"><a href="@Model.Files.Where(file => file.Id == req.FileOfProof.FileLocation).SingleOrDefault().WebContentLink" class="btn btn-primary">Download File</a></div>
                }
                else
                {
                    <div class="download">Geen bestand beschikbaar</div>
                }
                <div class="row">
                    <div class="col-12">
                        <hr />
                    </div>
                </div>
                <br />

                <div>
                    <form enctype="multipart/form-data" asp-controller="Security" asp-action="UpdateRequirementStatus">

                        <input type="radio" name="Approved" value="true" /> Accepteer
                        <input type="radio" name="Approved" value="false" /> Weiger

                        <input type="hidden" name="ProjectId" value="@Model.ProjectId" />
                        <input type="hidden" name="ReqId" value="@req.SecurityRequirementProjectId" />

                        <input type="submit" id="submitButton" value="Bevestig"/>

                    </form>
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
   /* $(document).ready(function () {

        $('#Approved').find('input').prop('checked', false);
        $('#submitButton').hide();
        $('#Approved').change(function () {
            if (this.checked) {
                $('#submitButton').show();
            }
            else {
                $('#submitButton').hide();
            }
        });
    });*/
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="~/lib/aspnet/signalr/dist/browser/signalr.js"></script>

<script>
    var coll = document.getElementsByClassName("requirement-info");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>