@using Achmea.Core;
@model ProjectDetailViewModel
@using AchmeaProject.Helpers;

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_SecurityLayout.cshtml";
}

<link rel="stylesheet" href="~/css/Details.css" />
<div class="con-header">
    <div class="header-title">
        <h2>@Model.Title</h2>
        <h4>Aanmaak datum:</h4>
        <p>@Model.CreationDate</p>
    </div>
    <div class="header-desc">
        @*<h3>@Model.Employee</h3>*@
        <h4>Medewerkers:</h4>
        @foreach (User User in Model.Users)
        {
            <p>@User.Firstname</p>
        }
        <h4>Beschrijving:</h4>
        <p>@Model.Description</p>
    </div>
</div>
<br />
<div class="con-content">
    @foreach (SecurityRequirementProject req in Model.RequirementProject)
    {
        <div class="con-requirements">
            <div class="requirement-info">
                @Model.Requirements.Where(requirement => requirement.RequirementId == req.SecurityRequirementId).SingleOrDefault().Name
            </div>

            <div class="requirement-check">
                @*@req.Status*@
                @{ Achmea.Core.Logic._Status status = req.Status;} @status.GetDisplayName()
            </div>

            <div class="collapsible">
                @Model.Requirements.Where(requirement => requirement.RequirementId == req.SecurityRequirementId).SingleOrDefault().Description
                <br /><br />
                @if (Model.RequirementProject.Where(requirementP => requirementP.SecurityRequirementId == req.SecurityRequirementId).SingleOrDefault().FileOfProofId != null)
                {
                    <div class="download"><a href="@Model.Files.Where(file => file.Id == req.FileOfProof.FileLocation).SingleOrDefault().WebContentLink" class="btn btn-primary">Download File</a></div>
                }
                else
                {
                    <div class="download">Geen bestand beschikbaar</div>
                }

                <div>
                    <form enctype="multipart/form-data" asp-controller="Security" asp-action="UpdateRequirementStatus">
                        
                        <input type="radio" name="Approved" value="true" /> Accepteer
                        <input type="radio" name="Approved" value="false" /> Weiger

                        <input type="hidden" name="ProjectId" value="@Model.ProjectId" />
                        <input type="hidden" name="ReqId" value="@req.SecurityRequirementProjectId" />

                        <input type="submit" id="submitButton" value="Bevestig"/>

                    </form>
                </div>
            </div>
        </div>
    }
</div>


<script>
    var coll = document.getElementsByClassName("requirement-info");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>

<script>
    var i;
    var button = document.getElementById("submitButton");

    for (i = 0; i < button.length; i++) {  
        document.getElementById("submitButton").disabled = true;
        /*if (document.getElementById("rb").click)
            $(function () {
                var radios = $('[name="Approved"]:radio');

                radios.on("change", function () {
                    if ($(this).prop("checked")) {
                        document.getElementById("submitButton").disabled = false;
                    }
                });
            });*/
    }
</script>