@model List<ProjectViewModel>
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_SecurityLayout.cshtml";
}

<link rel="stylesheet" href="~/css/Overview.css" />
<h1>Overzicht</h1>
<h2>To do:</h2>
<table>
    <thead>
        <tr class="table-header" style="background-color: #DFBCC0;">
            <th>Titel</th>
            <th>Aanmaak datum</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ProjectViewModel project in Model)
        {
            @if (!project.Done)
            {
                <tr class="table-item" onclick="window.location.href='@Url.Action("Details", "Security", new { projectId = project.ProjectId})'">
                    <td>@project.Title</td>
                    <td>@project.CreationDate</td>
                </tr>
            }
        }
    </tbody>
</table>
<br />
<h2>Completed tasks:</h2>

<table>
    <thead>
        <tr class="table-header" style="background-color: #DFBCC0;">
            <th>Titel</th>
            <th>Aanmaak datum</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ProjectViewModel project in Model)
        {
            @if (project.Done)
            {
                <tr class="table-item" onclick="window.location.href='@Url.Action("Details", "Security", new { projectId = project.ProjectId})'">
                    <td>@project.Title</td>
                    <td>@project.CreationDate</td>
                </tr>
            }
        }
    </tbody>
</table>