@model IEnumerable<AchmeaProject.Models.UserViewModel>

@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/Userlist.css" />
</head>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    Voornaam
                </th>
                <th>
                    Achternaam
                </th>
                <th>
                    Telefoonnummer
                </th>
                <th>
                    Type medewerker
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleID)
                </td>
                <td>
                    <a asp-area="" asp-controller="Admin" asp-route-id="@item.UserID" asp-action="Edit_User">Bewerken</a> |
                    <a asp-area="" asp-controller="Admin" asp-route-id="@item.UserID" asp-action="Details_User">Details</a> |
                    <a asp-area="" asp-controller="Admin" asp-route-id="@item.UserID" asp-action="Delete_User">Verwijderen</a>
                </td>
                
            </tr>
            }
        </tbody>
    </table>
    </div>

